@import "variables";

// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: @base0;
@syntax-comment-color: @base01;
@syntax-emphasized-color: @base1;
@syntax-cursor-color: @base3;
@syntax-selection-color: lighten(@base02, 1%);
@syntax-selection-flash-color: @base1;
@syntax-background-color: @base03;

// Guide colors
@syntax-wrap-guide-color: @base02;
@syntax-indent-guide-color: fadeout(@base00, 80%);
@syntax-invisible-character-color: fadeout(@base00, 80%);

// For find and replace markers
@syntax-result-marker-color: @cyan;
@syntax-result-marker-color-selected: @base3;

// Gutter colors
@syntax-gutter-text-color: @base0;
@syntax-gutter-text-color-selected: @syntax-gutter-text-color;
@syntax-gutter-background-color: @base02;
@syntax-gutter-background-color-selected: lighten(@base02, 6%);

// For git diff info. i.e. in the gutter
@syntax-color-renamed: @blue;
@syntax-color-added: @green;
@syntax-color-modified: @yellow;
@syntax-color-removed: @red;
