'name': 'Ever Notedown - Literal Coffee Extended (MathJax)'
'scopeName': 'text.markdown.evnd.mathjax.source.litcoffee.inline.html'
'fileTypes': [
  'markdown'
  'md'
  'mdown'
  'mkd'
  'mkdown'
  'rmd'
  'ron'
]
'patterns': [
  {
    'match': '(\\$)(?!=\\$)([^\\$]+?)(\\$)(?!\\$)'
    'name': 'string.other.math.latex'
    'captures':
      '1':
        'name': 'punctuation.definition.tag'
      '2':
        'name': 'markup.mathjax.inline.string.quoted'
      '3':
        'name': 'punctuation.definition.tag'
  }
  {
    'begin': '\\$\\$(?!\\$)'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.tag'
    'end': '\\$\\$(?!\\$)'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.tag'
    'name': 'markup.mathjax.string.quoted'
    'contentName': 'markup.math.mathjax.latex.string.quoted'
  }
  {
    'match': '^\\s*?\\[(?:TOC|toc)\\]\\s*?$'
    'name': 'markup.keyword.bold.heading.toc'
  }
  {
    'include': 'source.litcoffee'
  }
  {
    'include': 'evnd.inline.html'
  }
]
